/* * {
  margin: 0;
  padding: 0;
  }


.header {
  background-color: blueviolet;
}
.body-app{
  background-color: aqua;
  
  

}
.card{
  border-width: 2px;
  border-style: solid;
  border-color: purple;
  border-radius: 10px;
  max-width: 30%;
  
  
}

.img{
  max-width: 100%;
} */


